@media screen
  and (min-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  main {
    display: grid;
    grid-template-rows: 57px auto;
    grid-auto-rows: 55rem;
    grid-template-columns: 10.5rem auto 10.5rem;
    grid-template-areas:
    'h h h'
    '. c .'
    '. c .';
    height: 100%;
  }
}

@media screen
  and (min-device-width: 320px)
  and (max-width: 1024px)
  and (-webkit-device-pixel-ratio: 2) {
  main {
    display: grid;
    grid-template-rows: 57px auto;
    grid-template-columns: 2rem auto 2rem;
    grid-template-areas:
    'h h h'
    'c c c';
    height: 100%;
  }
}

.header {
  grid-area: h;
}

.container {
  grid-area: c;
}