.container {
  background-color: #f1f1f1;
  box-shadow: 0 0 4px rgba(51, 51, 51, .3);
}

@media screen
  and (min-device-width: 320px)
  and (-webkit-device-pixel-ratio: 2) {

    .container {
      padding: 2rem 0;
    }
}