section.content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  grid-auto-rows: 18rem;
  grid-auto-flow: dense;
  grid-gap: 3.5rem;
  justify-content: center;
  align-content: center;
}