.report {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(51, 51, 51, .1);
  border-radius: 4px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3rem 9rem 2rem 2rem 2rem;
  grid-template-areas:
    'hh hh'
    'tp tp'
    'hl pl'
    'hp pp'
    'ft ft';
}

.report-header {
  grid-area: hh;
  line-height: 3rem;
  border-bottom: 1px solid #ebebeb;
  font-size: 1.2rem;
}

.report-temperature {
  grid-area: tp;
  line-height: 9rem;
  font-size: 5.5rem;
}

.report-footer.humidity__label {
    grid-area: hl;
}

.report-footer.humidity__p {
  grid-area: hp;
}

.report-footer.pressure__label {
  grid-area: pl;
}

.report-footer.pressure__p {
  grid-area: pp;
}

.report-footer.humidity__label,
.report-footer.pressure__label {
  line-height: 2.8rem;
  font-size: .75rem;
}

.report-footer.humidity__p,
.report-footer.pressure__p {
  line-height: 1.5rem;
}


.report-footer span {
  font-size: .72rem;
}

.report-footer {
  grid-area: ft;
  background-color: rgba(241, 241, 241, .5);
  line-height: 2rem;
}

.report label {
  color: #b4b4b4;
  font-size: .9rem;
}

.report-footer.lastupdate {
  color: #b4b4b4;
  font-size: .63rem;
}

.colder {
  color: #69a3ff;
}

.warm {
  color: #ff9632;
}

.warmer {
  color: #ed1946;
}